@charset "utf-8";
/* CSS Document */
body{
    background-color: #669999;
    font-family: "Monaco", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff9999;
}

li {
  float: left;
}

li a {
  display: block;
  color: #339999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #666666;
}
a:link, a:visited {
  background-color: #ff9999;
  color: #339999;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #666666;
}
video {
  background-color: #ffcccc;
  padding: 20px;
}
img {
  background-color: #ffcccc;
  padding: 15px;
}
